---
// Imports Section
import Presentation from "@/components/features//hero/HeroSection.astro";

// import Presentation from "@/components/features/hero/HeroSection.astro";

import AboutMeSection from "@/components/features/about-me/AboutMeSection.astro";
import ProjectsSection from "@/components/features/projects/ProjectsSection.astro";
import TechnologiesSection from "@/components/features/technologies/TechnologiesSection.astro";
import HobbiesSection from "@/components/features/hobbies/HobbiesSection.astro";

import ContactSection from "@/components/features/contact/ContactSection.astro";

// Particles
import Particles from "@/components/ui/Particles.astro";

// Layout and Components Layout
import Footer from "@/components/ui/Footer.astro";
import Header from "./header/Header.astro";
---

<Header />

<main class="overflow-x-hidden">
    <!-- Animated particles -->
    <Particles />

    <!-- Main content -->
    <Presentation />

    <div class="horizontal relative w-full overflow-x-hidden">
        <div class="containera flex max-lg:gap-14 max-lg:flex-col min-h-full">
            <AboutMeSection
            classname="panel min-w-screen h-fit lg:h-screen flex justify-center items-center space-y-8 p-10"
            />

            <TechnologiesSection
            classname="panel min-w-screen h-fit lg:h-screen flex justify-center items-center"
            />

            <ProjectsSection
            classname="panel min-w-screen h-fit lg:h-screen flex justify-center items-center px-4 sm:px-6 lg:px-8"
            />

            <HobbiesSection
            classname="panel min-w-screen h-fit lg:h-screen flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8"
            />
        </div>
    </div>

    <ContactSection />

    <script>
    import {
        horizontalScroll,
        desactiveHorizontalScroll,
    } from "@/layouts/home/script/horizontalScroll";

    let isActiveHorizontalScroll = false;

    // Ejecutar al cargar
    document.addEventListener("DOMContentLoaded", () => {
        if (window.innerWidth >= 1024 && !isActiveHorizontalScroll) {
        horizontalScroll();
        isActiveHorizontalScroll = true;
        }
    });

    // Ejecutar al cambiar tamaño
    window.addEventListener("resize", () => {
        if (window.innerWidth >= 1024 && !isActiveHorizontalScroll) {
        horizontalScroll();
        isActiveHorizontalScroll = true;

        } else {
        desactiveHorizontalScroll();
        isActiveHorizontalScroll = false;
        }
    });
    </script>
</main>

<Footer />
