@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1::selection,
    h2::selection,
    h3::selection,
    strong::selection {
        background-color: #a855f7;
        color: #ffffff;
    }

    ::selection {
        background-color: #079bd6ef;
        color: #ffffff;
    }

    #animation-404-circle {
        opacity: 0;
        animation: entry 1s linear 2.4s forwards;
    }

    @keyframes entry {
        to {
            opacity: 100%;
        }
    }
}