---
import { t, type Language, languages } from "@/utils/i18n";

const param = Astro.params.lang;

const lang: Language = languages.includes(param as Language)
  ? (param as Language)
  : "es";
---

<footer
  class="
  border-t-2 border-gray-700 dark:border-gray-700 border-gray-300
  text-center
  py-8
  sm:mt-4
  "
>
  <p class="text-gray-600 dark:text-gray-400 mb-2">
    {t("footer.author", lang)}
  </p>
</footer>
