---
// Imports Section
import Presentation from "@/features/hero/HeroSection.astro";

import AboutMeSection from "@/features/about-me/AboutMeSection.astro";
import ProjectsSection from "@/features/projects/ProjectsSection.astro";
import TechnologiesSection from "@/features/technologies/TechnologiesSection.astro";
import HobbiesSection from "@/features/hobbies/HobbiesSection.astro";

import ContactSection from "@/features/contact/ContactSection.astro";

// Particles
import Particles from "@/components/ui/Particles.astro";
---

<!-- Animated particles -->
<Particles />

<!-- Main content -->
<Presentation />

<div class="horizontal relative w-full overflow-x-hidden">
  <div class="containera flex max-lg:gap-14 max-lg:flex-col min-h-full">
    <AboutMeSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center space-y-8 p-10"
    />

    <TechnologiesSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center"
    />

    <ProjectsSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center px-4 sm:px-6 lg:px-8"
    />

    <HobbiesSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex flex-col justify-center items-center p-10"
    />
  </div>
</div>

<ContactSection />
<script>
  import {
    horizontalScroll,
    desactiveHorizontalScroll,
  } from "@/components/layout/home-animation/horizontalScroll.ts";

  let isActiveHorizontalScroll = false;

  // Ejecutar al cargar
  document.addEventListener("DOMContentLoaded", () => {
    if (window.innerWidth >= 1024 && !isActiveHorizontalScroll) {
      horizontalScroll();
      isActiveHorizontalScroll = true;
    }
  });

  // Ejecutar al cambiar tamaño
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 1024 && !isActiveHorizontalScroll) {
      horizontalScroll();
      isActiveHorizontalScroll = true;

    } else {
      desactiveHorizontalScroll();
      isActiveHorizontalScroll = false;
    }
  });
</script>
