---
// Imports Section
import Presentation from "@/components/sections/PresentationSection.astro";
import TechnologiesSection from "@/components/sections/TechnologiesSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
import HobbiesSection from "@/components/sections/HobbiesSection.astro";
import AboutMeSection from "@/components/sections/AboutMeSection.astro";
import ContactSection from "@/components/sections/ContactSection.astro";

// Import and configuration languages
import { getTranslations } from "@/utils/i18n";

// Use Spanish by default: the change is handled with JavaScript.
const t = getTranslations("es");
---

<Presentation />

<div class="horizontal relative w-full overflow-x-hidden">
  <div class="containera flex max-lg:gap-14 max-lg:flex-col min-h-full">
    <AboutMeSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center space-y-8"
    />

    <TechnologiesSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center"
    />

    <ProjectsSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center px-4 sm:px-6 lg:px-8"
    />

    <HobbiesSection
      classname="panel min-w-[100vw] h-fit lg:h-screen flex justify-center items-center"
    />
  </div>
</div>

<ContactSection />

<script>
  import { horizontalScroll } from "@/scripts-animations/horizontalScroll.ts";
  if (window.innerWidth >= 1024) {
    horizontalScroll();
  }
</script>
