---
// Imports Section
import Presentacion from "@/components/sections/PresentacionSection.astro";
import TecnologiasSection from "@/components/sections/TecnologiasSection.astro";
import ProyectosSection from "@/components/sections/ProyectosSection.astro";
import PasatiemposSection from "@/components/sections/PasatiemposSection.astro";
import SobreMiSection from "@/components/sections/SobreMiSection.astro";
import Contactame from "@/components/sections/Contactame.astro";

// Import and configuration languages
import { getTranslations } from "@/utils/i18n";

// Use Spanish by default: the change is handled with JavaScript.
const t = getTranslations("es");
---

<Presentacion />

<div class="horizontal relative w-full overflow-x-hidden">
  <div class="containera flex h-full">
    <ProyectosSection
      classname="panel min-w-[100vw] h-screen flex justify-center items-center px-4 sm:px-6 lg:px-8"
    />

    <TecnologiasSection classname="panel min-w-[100vw] h-screen mt-10" />
    <PasatiemposSection classname="panel min-w-[100vw] h-screen mt-10" />
    <SobreMiSection classname="panel min-w-[100vw] space-y-8 h-screen" />
  </div>
</div>

<Contactame />

<script>
  import { horizontalScroll } from "@/scripts-animations/horizontalScroll.ts";
  horizontalScroll();
</script>
