---
// Component Line Divider
import Line from "@/components/ui/Line.astro";

// Imports Section
import Presentacion from "@/components/sections/PresentacionSection.astro";
import TecnologiasSection from "@/components/sections/TecnologiasSection.astro";
import ProyectosSection from "@/components/sections/ProyectosSection.astro";
import PasatiemposSection from "@/components/sections/PasatiemposSection.astro";
import SobreMiSection from "@/components/sections/SobreMiSection.astro";

// Import and configuration languages
import { getTranslations } from "@/utils/i18n";

// Usar español por defecto - el cambio se maneja con JavaScript
const t = getTranslations('es');
---

<div
  class="px-2 py-20 flex flex-col items-center gap-15 sm:justify-center max-w-6xl"
>
  <Presentacion />

  <!-- Indicador para bajar -->
  <div class="flex h-fit w-fit px-3 py-5 justify-center">
    <div
      class="text-cyan-300 rounded-xl border-cyan-500/40 border-2
        hover:border-cyan-400/60 hover:shadow-lg hover:shadow-cyan-500/20
        transition-all select-none
        animate-bounce z-10 p-2 flex gap-1"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3"></path>
      </svg>

      <span data-i18n="ir_abajo">{t.ir_abajo}</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3"></path>
      </svg>
    </div>
  </div>

  <!-- Sección: Proyectos Principales de Hacking  -->
  <ProyectosSection />
  <Line />

  <!-- Sección: Tecnologías  -->
  <TecnologiasSection />
  <Line />

  <!-- Sección: Sobre Mí -->
  <SobreMiSection />

  <PasatiemposSection />
</div>
