---
import { getTranslations, type Language } from "@/utils/i18n";

const lang = Astro.params.lang as Language;
const t = getTranslations(lang);

interface Props {
  classname?: string;
}

const history = [
  [t.about_history_text, "2017"],
  [t.about_modal_paragraph1, "2018-2021"],
  [t.about_modal_paragraph2, "2021"],
  [t.about_modal_paragraph3, "2021-2024"],
  [t.about_modal_paragraph4, "2025"],
  [t.about_modal_paragraph5, "+2026"],
];

const { classname = "" } = Astro.props;
---

<section id="sobre-mi" class={classname}>
  <div
    class="relative flex justify-between items-center h-screen w-full mx-auto max-md:flex-col max-md:items-start"
  >
    <!-- Línea -->
    <div
      class="absolute top-1/2 left-0 w-full h-1 bg-blue-500 -translate-y-1/2 z-10
              max-md:top-0 max-md:left-5 max-md:w-1 max-md:h-full max-md:translate-y-0"
    >
    </div>

    {
      history.map((value, index) => (
        <div
          class={`relative min-w-45 max-w-80 w-full text-center z-20 
                  max-md:mb-12 max-md:pl-12
                  ${index % 2 === 0 ? "" : "-translate-x-10"}
                  `}
        >
          <div
            class={`absolute h-fit w-45 min-w-full p-4 rounded-lg
                    ${index % 2 === 0 ? "bottom-10" : "top-10"}
                    max-md:relative max-md:top-0 max-md:bottom-0 max-md:w-full`}
          >
            <div class="font-bold mb-2 text-blue-500">{value[1]}</div>
            {value[0]}

            {(value[1]=='2021') ? (
              <a
                href="https://github.com/divelz"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 
                  text-cyan-700 dark:text-cyan-300
                  font-semibold underline underline-offset-4
                  hover:text-cyan-800 dark:hover:text-cyan-200
                  focus:outline-none focus-visible:ring-2 focus-visible:ring-cyan-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white dark:focus-visible:ring-offset-gray-900
                  transition-colors"
              >
                Github
              </a>
            ) : (
              <></>
            )
            }
          </div>

          <div
            class="w-5 h-5 bg-blue-500 rounded-full mx-auto
                    max-md:absolute max-md:left-[11px]"
          />
        </div>
      ))
    }
  </div>
</section>
