---
interface Props {
  className?: string;
  [key: string]: unknown;
  justify?: "left" | "center" | "right";
}

const { className = "", justify = "justify", ...rest } = Astro.props;
---

<p
  class={`
  wrap-break-word
  min-w-0
  text-${justify}
  ${className}
`}
  {...rest}
>
  <slot />
</p>
