---
interface Props {
  className?: string;
  [key: string]: unknown;
}

const { className = "", ...rest } = Astro.props;
---

<p
  class={`
  wrap-break-word
  min-w-0
  text-justify
  ${className}
`}
  {...rest}
>
  <slot />
</p>
